<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Добавить питомца</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
</head>
<body class="container py-3">
<header th:insert="blocks :: header"></header>

<div class="container mt-5 mb-5">
  <h1>Добавить питомца</h1>
  <form action="/pets/add" method="post" >
    <input required type="radio" id="idCats" name="category" value="Cats" >
    <label for="idCats">Кошка</label>
    <input required type="radio" id="idDogs" name="category" value="Dogs" >
    <label for="idDogs">Собака</label>
    <br/>
    <input required type="radio" id="female" name="sex" value="female">
    <label for="female">Девочка</label>
    <input required type="radio" id="male" name="sex" value="male">
    <label for="male">Мальчик</label>
    <br/>
    <input required type="text" name="name" placeholder="Введите имя" class="form-control">
    <br/>
    <textarea name="description" placeholder="Введите описание"class="form-control"></textarea>
    <br/>
    <button type="submit" class="btn btn-success">Добавить</button>
  </form>
</div>

<footer th:insert="blocks :: footer"></footer>
</body>
</html>