<div th:fragment="header">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Приют "Доброе сердце"</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/pets">Питомцы</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/support">Поддержка</a>
        <a class="py-2 text-dark text-decoration-none" href="/logout">Выход</a>
      </nav>
    </div>
  </header>

</div>

<div th:fragment="footer">
  <footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Наверх</a>
      </p>
      <p class="mb-1">Итоговый проект по СЯиТП ©</p>
    </div>
  </footer>
</div>