<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Редактировать питомца</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
</head>
<body class="container py-3">
<header th:insert="blocks :: header"></header>

<div class="container mt-5 mb-5">
  <h1>Редактировать питомца</h1>
  <div th:each="el : ${pet}">

    <form method="post" >

        <input required type="radio" id="idCats" name="category" value="Cats"  th:checked="${el.category == 'Cats'}">
        <label for="idCats">Кошка</label>
        <input required type="radio" id="idDogs" name="category" value="Dogs" th:checked="${el.category == 'Dogs'}">
        <label for="idDogs">Собака</label>

      <br/>
      <input required type="radio" id="idfemale" name="sex" value="female"  th:checked="${el.sex == 'female'}">
      <label for="idfemale">Девочка</label>
      <input required type="radio" id="idmale" name="sex" value="male"  th:checked="${el.sex == 'male'}">
      <label for="idmale">Мальчик</label>
      <br/>
      <input required type="text" th:value="${el.name}" name="name" placeholder="Введите имя" class="form-control">
      <br/>
      <textarea th:text="${el.description}" name="description" placeholder="Введите описание"class="form-control" />
      <br/>
      <input type="checkbox" id="status" name="available" th:checked="${el.available}">
      <label for="status">Доступен(а)</label>
      <br/>
      <button type="submit" class="btn btn-success">Обновить</button>
    </form>
  </div>
</div>

<footer th:insert="blocks :: footer"></footer>
</body>
</html>